* {
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

header {
  background-color: #3D3A37;
}

h1 {
  font-family: 'Grand Hotel', cursive;
  /*font-family: 'Cookie', cursive;*/
  font-size: 3em;
  font-weight: normal;
  color: #C9BEB4;
  position: relative;
  margin-top: 0;
  margin-left: 15%;
  display: inline-block;
  vertical-align: top;
}

#tagline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .6em;
  color: #FFF;
  position: absolute;
  top: 46px;
  left: 15px;
  margin-left: 15%;
}

nav li {
  list-style: none;
  display: inline;
  padding: 0 10px;
}

nav {
  float: right;
  margin-right: 15%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

nav a {
  color: #FFF;
  text-decoration: none;
}

nav a:hover {
  color: #C9BEB4;
  text-decoration: none;
}

nav a:visited {
  color: #938599;
  text-decoration: none;
}

p {
  font-family: sans-serif;
}

a {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #938599;
  text-decoration: none;
}

body {
  background-color: #f6f4f0;
}

main {
  margin-left: 15%;
  margin-right: 15%;
}

h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.book {
  width: 50%;
  float: left;
  padding: 10px;
  position: relative;
}

.book img {
  width: 100%;
  border-radius: 20px;
}

.book h3 {
  color: #FFF;
  position: absolute;
  bottom: 5%;
  left: 7%;
}

.clearfix {
  clear: both;
}

img {
  border-radius: 15px;
}

footer {
  margin-left: 15%;
  margin-right: 15%;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 933px) {
  h1 {
    margin-left: 5%;
  }
  #tagline {
    margin-left: 5%;
  }
  nav {
    margin-right: 5%;
  }
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  footer {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 700px) {
  .book {
    width: 100%;
  }
}
